<button class="m-10" (click)="Openpopup()" mat-raised-button color="primary">
  Add User
</button>

<!-- <div class="mx-10 mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
   
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.position }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.weight }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.symbol }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="test">
      <mat-header-cell *matHeaderCellDef> test </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.test }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="test1">
      <mat-header-cell *matHeaderCellDef> test1 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.test1 }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="test2">
      <mat-header-cell *matHeaderCellDef> test2 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.test2 }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="test3">
      <mat-header-cell *matHeaderCellDef> test3 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.test3 }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="test4">
      <mat-header-cell *matHeaderCellDef> test4 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.test4 }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="test5">
      <mat-header-cell *matHeaderCellDef> test5 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.test5 }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="test6">
      <mat-header-cell *matHeaderCellDef> test6 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.test6 }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="test7">
      <mat-header-cell *matHeaderCellDef> test7 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.test7 }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="test8">
      <mat-header-cell *matHeaderCellDef> test8 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.test8 }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div> -->

<div style="text-align: center">
  <div style="overflow-x: auto">
  <p-table 
      [value]="cars" 
      [scrollable]="true" 
      scrollDirection="horizontal"
      scrollHeight="100%">
            <ng-template pTemplate="header">
          <tr>
              <th style="width: 500px">Car</th>
              <th style="width: 500px">Company</th>
              <th style="width: 500px">Vehicle Number</th>
              <th style="width: 500px">Manufactured year</th>
              <th style="width: 500px">KM Driven</th>
              <th style="width: 500px">Price</th>
              <th style="width: 500px">Rating</th>
              <th style="width: 500px">Rating</th>
              <th style="width: 500px">Rating</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
          <tr [ngClass]="{ 'even-row' : car.id %2 === 0}">
              <td style="width: 500px">{{car.name}}</td>
              <td style="width: 500px">{{car.company}}</td>
              <td style="width: 500px">{{car.number}}</td>
              <td style="width: 500px">{{car.manufacturedYear}}</td>
              <td style="width: 500px">{{car.kmDriven}}</td>
              <td style="width: 500px">{{car.price}}</td>
              <td style="width: 500px">{{car.rating}}</td>
              <td style="width: 500px">{{car.rating}}</td>
              <td style="width: 500px">{{car.rating}}</td>
          </tr>
      </ng-template>
  </p-table>

</div>
</div>


<div class="bg-white ">
  <div class="container px-6 py-8 mx-auto">
    <div
      class="flex flex-col items-center justify-center space-y-8 lg:-mx-4 lg:flex-row lg:items-stretch lg:space-y-0"
    >
      <div
        class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border-2 border-gray-200 rounded-lg lg:mx-4 shadow-lg"
      >
        <div class="flex-shrink-0">
          <h2
            class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-blue-900 uppercase rounded-lg text-2xl"
          >
            Casual
          </h2>
        </div>

        <div class="flex-shrink-0">
          <span class="pt-2 text-3xl font-bold text-black-600 uppercase">
            Free
          </span>
        </div>

        <ul class="flex-1 space-y-4">
          <li class="text-gray-500 dark:text-gray-400">Up to 5 projects</li>

          <li class="text-gray-500 dark:text-gray-400">
            Up to 10 collaborators
          </li>

          <li class="text-gray-500 dark:text-gray-400">2Gb of storage</li>
        </ul>

        <button
          class="inline-flex items-center justify-center px-4 py-2 font-medium text-white uppercase transition-colors bg-blue-900 rounded-lg hover:bg-blue-700 focus:outline-none"
        >
          Start free
        </button>
      </div>

      <div
        class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border-2 border-gray-200 rounded-lg lg:mx-4 shadow-lg"
      >
        <div class="flex-shrink-0">
          <h2
            class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-blue-900 uppercase text-2xl rounded-lg"
          >
            Professional
          </h2>
        </div>

        <div class="flex-shrink-0">
          <span class="pt-2 text-3xl font-bold text-gray-800 uppercase">
            NRS 5490
          </span>

          <span class="text-gray-500 dark:text-gray-400"> /month </span>
        </div>

        <ul class="flex-1 space-y-4">
          <li class="text-gray-500 dark:text-gray-400">Up to 10 projects</li>

          <li class="text-gray-500 dark:text-gray-400">
            Up to 20 collaborators
          </li>

          <li class="text-gray-500 dark:text-gray-400">10Gb of storage</li>

          <li class="text-gray-500 dark:text-gray-400">
            Real-time collaborations
          </li>
        </ul>

        <button
          class="inline-flex items-center justify-center px-4 py-2 font-medium text-white uppercase transition-colors bg-blue-900 rounded-lg hover:bg-blue-700 focus:outline-none"
        >
          Start free trial
        </button>
      </div>

      <div
        class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border-2 border-gray-200 rounded-lg lg:mx-4 shadow-lg"
      >
        <div class="flex-shrink-0">
          <h2
            class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-blue-900 text-2xl uppercase rounded-lg"
          >
            Expert
          </h2>
        </div>

        <div class="flex-shrink-0">
          <span class="pt-2 text-3xl font-bold text-gray-800 uppercase">
            NRS 10990
          </span>

          <span class="text-gray-500 dark:text-gray-400"> /month </span>
        </div>

        <ul class="flex-1 space-y-4">
          <li class="text-gray-500 dark:text-gray-400">Unlimited projects</li>

          <li class="text-gray-500 dark:text-gray-400">
            Unlimited collaborators
          </li>

          <li class="text-gray-500 dark:text-gray-400">Unlimited storage</li>

          <li class="text-gray-500 dark:text-gray-400">
            Real-time collaborations
          </li>

          <li class="text-gray-500 dark:text-gray-400">24x7 Support</li>
        </ul>

        <button
          class="inline-flex items-center justify-center px-4 py-2 font-medium text-white uppercase transition-colors bg-blue-900 rounded-lg hover:bg-blue-700 focus:outline-none"
        >
          Start free trial
        </button>
      </div>
    </div>
  </div>
</div>

