<div class="container mt-20 flex justify-center items-center">

    <div class="flex flex-wrap space-x-40">
        <div class="counter1">
            <p class="text-2xl font-bold text-blue-900">10 Years +</p>
            <span class="justify-center items-center">in Service</span>
        </div>
        <div class="counter1">
            <p class="text-2xl font-bold text-blue-900">1500 +</p>
            <span class="justify-center items-center">Clients</span>
        </div>
        <div class="counter1">
            <p class="text-2xl font-bold text-blue-900">300 +</p>
            <span class="justify-center items-center">Skilled Manpower</span>
        </div>
        <div class="counter1">
            <p class="text-2xl font-bold text-blue-900">35000 +</p>
            <span class="justify-center items-center">Customer</span>
        </div>
       
    </div>
</div>