

      <div

        class="flex flex-wrap justify-between px-4 container mx-auto mt-10 mb-10"
      >
        <div
          class="max-w-sm bg-white rounded-md hover:rounded-lg shadow-md hover:shadow-xl md:mb-0 mb-10"
        >
          <div class="">
            <div class="w-full">
              <img
                class="w-full"
                src="assets/images/product2.jpg"
                alt="icon-1"
              />
            </div>

            <a href="#">
              <h5
                class="mb-2 pt-3 px-2 text-xl font-semibold text-red-700 dark:text-black"
              >
                Keyboard 1
              </h5>
            </a>
            <p
              class="mt-3 text-left px-2 text-sm font-normal text-gray-700 dark:text-gray-400"
            >
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum,
              nemo ab. Voluptatem earum illo recusandae necessitatibus
              repellendus itaque officia eaque!
            </p>

            <div class="px-2 pt-2 text-xl text-green-700">
              <p>NRS 50000</p>
            </div>
            <div class="px-2 pt-8">
              <button
                type="button"
                class="focus:outline-none text-white bg-pink-600 hover:bg-red-800 font-medium rounded text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900"
              >
                Add to cart
              </button>

              <div class="inline-block flex justify-end pb-4">
                <p class="text-black-700 text-bold">Jun, 2023</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="max-w-sm bg-white rounded-md hover:rounded-lg shadow-md hover:shadow-xl md:mb-0 mb-10"
        >
          <div class="">
            <div class="w-full">
              <img
                class="w-full"
                src="assets/images/product2.jpg"
                alt="icon-1"
              />
            </div>

            <a href="#">
              <h5
                class="mb-2 pt-3 px-2 text-xl font-semibold text-red-700 dark:text-black"
              >
                Keyboard 2
              </h5>
            </a>
            <p
              class="mt-3 text-left px-2 text-sm font-normal text-gray-700 dark:text-gray-400"
            >
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum,
              nemo ab. Voluptatem earum illo recusandae necessitatibus
              repellendus itaque officia eaque!
            </p>

            <div class="px-2 pt-2 text-xl text-green-700">
              <p>NRS 50000</p>
            </div>
            <div class="px-2 pt-8">
              <button
                type="button"
                class="focus:outline-none text-white bg-pink-600 hover:bg-red-800 font-medium rounded text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900"
              >
                Add to cart
              </button>

              <div class="inline-block flex justify-end pb-4">
                <p class="text-black-700 text-bold">Aug 11, 2022</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="max-w-sm bg-white rounded-md hover:rounded-lg shadow-md hover:shadow-xl md:mb-0 mb-10"
        >
          <div class="">
            <div class="w-full">
              <img
                class="w-full"
                src="assets/images/product2.jpg"
                alt="icon-1"
              />
            </div>

            <a href="#">
              <h5
                class="mb-2 pt-3 px-2 text-xl font-semibold text-red-700 dark:text-black"
              >
                Keyboard 2
              </h5>
            </a>
            <p
              class="mt-3 text-left px-2 text-sm font-normal text-gray-700 dark:text-gray-400"
            >
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum,
              nemo ab. Voluptatem earum illo recusandae necessitatibus
              repellendus itaque officia eaque!
            </p>

            <div class="px-2 pt-2 text-xl text-green-700">
              <p>NRS 50000</p>
            </div>
            <div class="px-2 pt-8">
              <button
                type="button"
                class="focus:outline-none text-white bg-pink-600 hover:bg-red-800 font-medium rounded text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900"
              >
                Add to cart
              </button>

              <div class="inline-block flex justify-end pb-4">
                <p class="text-black-700 text-bold">Aug 11, 2022</p>
              </div>
            </div>
          </div>
        </div>
       
      </div>
