<mat-toolbar color="primary" class="mat-elevation-z8" >
    <button mat-fab aria-label="Example icon button with a home icon">
        <mat-icon >home</mat-icon>
      </button>
    <div class="spacer"></div>
    <a routerLink="" mat-button class="nav">Home</a>
    <a routerLink="slider" mat-button class="nav">Slider</a>
    <a routerLink="crud" mat-button class="nav">Crud</a>
    <a routerLink="cart" mat-button class="nav">Add to Cart</a>
    <a mat-raised-button color="accent" class="nav">Extra Features</a>

</mat-toolbar>



