<div class="container grid grid-cols-2 gap-8">
    <div class="shopingCart p-10">
    <h2 class="text-2xl font-bold text-blue-900" >Shopping cart</h2>
    
    <div class="cartItem flex pt-10">
        <div class="p-5">
            <h2>1. </h2>
        </div>
        <div class="cartImage">
            <img class="w-80" src="../../assets/images/product2.jpg" alt="">
        </div>
        <div class="pl-5">
            <h2 class="text-xl font-bold text-blue-900">POS System</h2>
            <p class="text-sm pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="pl-10 my-8">
            <h2 class="text-sm font-bold text-blue-900 w-40">price NRS 1670</h2>
        </div>
    </div>
    
    </div>
    <div class="CartTotal shopingCart pl-10">
        <h2 class="text-2xl font-bold text-blue-900 p-5">Cart Total</h2>

        <div class="flex pt-3 space-between gap-x-20">
            <h3 class="text-xl text-blue-900">Sub-total</h3>
            <span class="text-xl font-bold">NRS 1670</span>
        </div>

        <div class="pt-3 flex gap-x-20">
            <h2 class="text-xl text-blue-900">Shipping</h2>
            <span class="text-xl font-bold" >Free Shipping</span>
        </div>

        <div class="pt-3 flex gap-x-20">
            <p class="text-xl text-blue-900">Total</p>
            <span class="text-xl font-bold pl-8">NPR 1670</span>
        </div>

<div class="pt-5">

    <button
    type="button"
    class="focus:outline-none text-white bg-blue-900 hover:bg-red-800 font-medium rounded text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900"
  >
    Proceed to checkout
  </button>

</div>



    
    </div>
</div>