<mat-toolbar class="mat-elevation-z8">
    <button color="primary" mat-fab aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
    <div class="spacer"></div>
   
    <a routerLink="home" mat-button class="nav">Home</a>
    <a routerLink="product" mat-button class="nav">Product</a>
    <a routerLink="crud" mat-button class="nav">Crud</a>
    <a routerLink="cart" mat-button class="nav"
      ><mat-icon class="mat-icon">add_shopping_cart</mat-icon></a
    >
    <a mat-raised-button color="primary" class="nav">Extra Features</a>
  </mat-toolbar>


<router-outlet></router-outlet>

<app-footer></app-footer>