@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin: 0%;
}

.spacer {
  flex: 1 1 auto;
}

.nav {
  color: rgb(109, 10, 10);
  font-size: 24px;
  font-weight: 600;
  padding-left: 20px;

  text-decoration: none;
}

.logo span {
  font-size: 36px;
  font-weight: 600;
  padding: 20px;
  margin-top: 20px;
}

.mat-icon {
  height: 24px;
  width: 24px;
}


.mat-toolbar {
  height: 7vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container {
  background-color: rgb(255, 255, 255);
  min-height: 10vh;
}

a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button {
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content {
  font-size: 200%;
  text-align: center;
}
